*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.carousel-item img{
    width:100%;
    height:80vh;

} 
.icon #icon1{
    color:blue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding:30px 0 ;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icon #icon1{
    color:blue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.icon #icon2{
    color:deeppink;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.icon #icon3{
    color:skyblue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.icon #icon4{
    color:red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}